/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("pexels-olia-danilevich-5088017.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #c1ba9b;
    font-family: 'EB Garamond', serif;
    font-size: 30px;
  }
  header {
    background-color: #dcc39cb8;
    padding: 0 px;
    justify-content: center;
    display: flex;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav li {
    float: left;
    align-items: center;
    display: flex;
  }
  
  nav a {
    display: block;
    padding: 10px 50px;
    text-decoration: none;
    color: #000000;
    
  }
  
  nav a:hover {
    background-color: #555;
  }
  
  /* Add a highlight to the active page */
  nav a.active {
    background-color: #555;
  }
  
  h1{
    text-align: center;
  }