{% extends 'base.html' %}
{% block content %}
{% load static %} 
<!DOCTYPE html>
<html>

<head>
  <title>My Website</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Playfair+Display&display=swap" rel="stylesheet">
</head>

<body>


  <!-- Add your content here -->
  <p1><br>
  Our intention is to help students get awareness about the class and the related functions.
  This will help students not to miss their class and other related works .
   Main functions include,
   providing time table for every faculty and student , topics covered per day , assignments or works given each day and daily list of absentees.
  <br><br>
  <p2>For queries<br>
    contact admin<br>
    8674652834<br>
    gowithedu@gmail.org</p2>
</body>
</html>
{% endblock %}