<!DOCTYPE html>
<html>
<head>
  <title>new requests</title>
</head>
<body>
    <header>
        <nav>
          <ul>
            <li><a href="admindelete.html">REQUESTS</a></li>
            <li><a href="adminupdate.html">UPDATE</a></li>
            <li><a href="home.html">LOGOUT</a></li>
          </ul>
        </nav>
      </header>
    <link rel="stylesheet" type="text/css" href="style9.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>SONIYA K M</td>
        <td class="button-container">
          <button class="accept-button" onclick="accept()">Accept</button>
          <button class="reject-button" onclick="reject()">Reject</button>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
