<!DOCTYPE html>
<html>
<head>
  <title>submitting Staff Availability</title>
  <link rel="stylesheet" type="text/css" href="style4.css">
</head>

<body>
  <header>
    <nav>
    {% include 'staffbase.html' %}
    </nav>
  </header>
  <style>
    .center {
      text-align: center;
    }
  </style>
</head>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

  <div class="center">
  {{id}}{{timtable.first_hour}}
    <h2>MARK AVAILABILITY</h2>
    </div>
    <form action="{%  url 'staffavail' %}" method="post">
      {% csrf_token %}
  <table>
    <tr>
      <th>Subject</th>
      <th>Availability</th>
    </tr>
    <tr>
      <td>FIRST HOUR : </td>
      <td>
        {% if timetable.first_hour == id or timetable.first_hour == 0 %}
        <label>
          <input type="radio" name="first" value="1"> Yes
        </label>
        <label>
          <input type="radio" name="first" value="0"> No
        </label>
        {%endif%}
      </td>
    </tr>
    <tr>
        <td>
        SECOND HOUR : </td>
        {% if timetable.second_hour == id or timetable.second_hour == 0 %}

      <td>
        <label>
          <input type="radio" name="second" value="1"> Yes
        </label>
        <label>
          <input type="radio" name="second" value="0"> No
        </label>
      </td>
      {%endif%}
    </tr>
    <tr>
        <td>
        THIRD HOUR : </td>
        {% if timetable.third_hour == id or timetable.third_hour == 0 %}

      <td>
        <label>
          <input type="radio" name="third" value="1"> Yes
        </label>
        <label>
          <input type="radio" name="third" value="0"> No
        </label>
      </td>
      {%endif%}
    </tr>
    <tr>
        <td>
        FOURTH HOUR : </td>
        {% if timetable.fourth_hour == id or timetable.fourth_hour == 0 %}

      <td>
        <label>
          <input type="radio" name="fourth" value="1"> Yes
        </label>
        <label>
          <input type="radio" name="fourth" value="0"> No
        </label>
      </td>
      {%endif%}
    </tr>
  </table>
  <button type="submit">Submit</button>
  <div class="center">
    <h4>[NOTE:KINDLY MARK "YES" IF YOU ARE THERE IN THE COLLEGE EVEN IF IT IS A FREE PERIOD, ELSE MARK NO!]</h4>
    </div>
  </form>
</body>

</html>