{% load static %}  
<!DOCTYPE html>
<html>

<head>
  <title>submitting Staff Availability</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style4.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Playfair+Display&display=swap" rel="stylesheet">

</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="staffprof.html">PROFILE</a></li>
        <li><a href="staffavail.html">AVAILABILITY</a></li>
        <li><a href="staffnewtt.html">NEW TIMETABLE</a></li>
        <li><a href="staffassign.html">ASSIGNMENTS</a></li>
        <li><a href="stafftopic.html">TOPICS</a></li>
        <li><a href="staffassign.html">ABSENTEES</a></li>
        <li><a href="home.html">LOGOUT</a></li>
      </ul>
    </nav>
  </header>
  <style>

textarea {
  width: 50%;
  height: 170px;
  margin-top: 10px;
  padding: 5px;
}

.submit-btn {
  margin-top: 10px;
}
.center-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 100vh; /* Adjust this value if needed */
    }
    
    .heading {
      text-align: center;
      font-size: 26px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    </style>
    
    <div class="center-container">
  </style>
  <link rel="stylesheet" type="text/css" href="submit.css">
  <h1 class="heading">TODAY'S TOPICS</h1>
          <textarea id="message" placeholder="Enter your message"></textarea>
          <button class="submit-btn" type="submit">Submit</button>
</body>

</html>
