<!DOCTYPE html>
<html>

<head>
  <title>staffprofile</title>
  <link rel="stylesheet" type="text/css" href="style4.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Playfair+Display&display=swap" rel="stylesheet">

</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="staffprof.html">PROFILE</a></li>
        <li><a href="staffavail.html">AVAILABILITY</a></li>
        <li><a href="staffnewtt.html">NEW TIMETABLE</a></li>
        <li><a href="staffassign.html">ASSIGNMENTS</a></li>
        <li><a href="stafftopic.html">TOPICS</a></li>
        <li><a href="staffabs.html">ABSENTEES</a></li>
        <li><a href="home.html">LOGOUT</a></li>
      </ul>
    </nav>
  </header>
</body>

</html>
