<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style6.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Playfair+Display&display=swap" rel="stylesheet">

    <title>Timetable</title>
    
</head>
<body>
    <body>
    <header>
    <nav>
      <ul>
        <li><a href="staffprof.html">PROFILE</a></li>
        <li><a href="staffavail.html">AVAILABILITY</a></li>
        <li><a href="staffnewtt.html">NEW TIMETABLE</a></li>
        <li><a href="staffassign.html">ASSIGNMENTS</a></li>
        <li><a href="stafftopic.html">TOPICS</a></li>
        <li><a href="staffabs.html">ABSENTEES</a></li>
        <li><a href="home.html">LOGOUT</a></li>
      </ul>
    </nav>
  </header>
  <style>
    .center-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 10vh; /* Adjust this value if needed */
    }
    
    .heading {
      text-align: center;
      font-size: 26px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    </style>
    
    <div class="center-container">
      <h1 class="heading">REVISED TIMETABLE</h1>
    </div>
        <div class="container">
          <table>
            <thead>
              <tr>
                <th>FIRST HOUR</th>
                <th>SECOND HOUR</th>
                <th>THIRD HOUR</th>
                <th>FOURTH HOUR</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>S2</td>
                <td>S1</td>
                <td>S3</td>
                <td>S3</td>
              </tr>
              <tr>
                <td>CST 203</td>
                <td>EST 700</td>
                <td>HUT 101</td>
                <td>HUT 101</td>
              </tr>
            </tbody>
          </table>
          
        </div>
             
</body>
</html>